<!DOCTYPE html>
<html>
<head>
    <title>Question Paper Generator</title>
</head>
<body>
    <h1>Question Paper</h1>
    <p>
                    <b>Questions 1:</b> {{ questions[0] }}<br>
                    <b>Questions 2:</b> {{ questions[1] }}<br>
                    <b>Questions 3:</b> {{ questions[2] }}<br>
                    <b>Questions 4:</b> {{ questions[3] }}<br>
                    <b>Questions 5:</b> {{ questions[4] }}<br>
                    <b>Questions 6:</b> {{ questions[5] }}<br>
                    <b>Questions 7:</b> {{ questions[6] }}<br>
                    <b>Questions 8:</b> {{ questions[7] }}<br>
                    <b>Questions 9:</b> {{ questions[8] }}<br>
                    <b>Questions 10:</b> {{ questions[9] }}<br>
                    <b>Questions 11:</b> {{ questions[10] }}<br>
                    <b>Questions 12:</b> {{ questions[11] }}<br>
                    <b>Questions 13:</b> {{ questions[12] }}<br>
                    <b>Questions 14:</b> {{ questions[13] }}<br>
                    <b>Questions 15:</b> {{ questions[14] }}<br>
                    <b>Questions 16:</b> {{ questions[15] }}<br>
                    <b>Questions 17:</b> {{ questions[16] }}<br>
                    <b>Questions 18:</b> {{ questions[17] }}<br>
                    <b>Questions 19:</b> {{ questions[18] }}<br>
                    <b>Questions 20:</b> {{ questions[19] }}<br>
                </p>
            
</body>
</html>
